@mixin signup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid transparent;
  box-shadow: 1px 1px 3px $dark-purple;
  width: 100%;
  height: 450px;
  font-family: 'Lato', sans-serif;
  font-weight: 400px;
  font-size: 15px;
  background-color: white;

}

@mixin links {
  display: inline-flex;
}

@mixin signup_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 330px;
  align-items: flex-start;
  align-self: center;

  & p{
    font-size: 12px;
    color: $darkest-purple;
  }
}

@mixin name_input {
  width: 100%;
  align-self: center;
  

  & input{
    border-radius: 15px 15px 15px 15px;
    border-color: $lighter-purple;
    height: 35px;
    width: 80%;
}
}

@mixin lastname_input {
  width: 100%;
  align-self: center;

  & input{
    border-radius: 15px 15px 15px 15px;
    border-color: $lighter-purple;
    height: 35px;
    width: 80%;
}
  
  }

@mixin email_input-signup {
  width: 100%; 
  align-self: center;

  & input{
    border-radius: 15px 15px 15px 15px;
    border-color: $lighter-purple;
    height: 35px;
    width: 80%;
    }
  }

@mixin password_input-signup {
  width: 100%; 
  align-self: center;
  & input{
    border-radius: 15px 15px 15px 15px;
    border-color: $lighter-purple;
    height: 35px;
    width: 80%;
  }
}

@mixin signup_btn {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px auto 35px auto;
  height: 35px;
}
@mixin button_su_li {
  width: 80%;
  height: 35px;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid transparent;
  font-size: 17px;
  color: white;
  background-color: $darkest-purple;
  cursor: pointer;
 

  &:hover {
    background-color: $lighter-purple;
    border: 1px solid transparent;
  }
}

//Large phone and tablet responsive
@mixin signup-t {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  font-family: 'Lato', sans-serif;
  font-weight: 300px;
  font-size: 15px;
  margin: 0px auto 0px auto;
  padding-top: 20px;
}

@mixin signup_form-t {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 280px;
  align-items: flex-start;
  margin: 0px 0px 20px 25px;
  align-self: center;
 
}

@mixin name_input-t {
  width: 100%;
  align-self: center;
 
}
@mixin logoGrupomania-t {
  height: 150px;
  object-fit: cover;
  width: 70%;
}

@mixin lastname_input-t {
  width: 100%;
  align-self: center;
  
}

@mixin email_input-signup-t {
  width: 100%;
  align-self: center;
} 

@mixin password_input-signup-t {
  width: 100%;
  align-self: center;
}

@mixin signup_btn-t {
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0px auto;
  height: 30px;
}
@mixin button_su_li-t {
  width: 100%;
  height: 35px;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid transparent;
  font-size: 17px;
  color: white;
  background-color: $darkest-purple;
  cursor: pointer;

  &:hover {
    background-color: $lighter-purple;
    border: 1px solid transparent;
  }
}

//Tablet and small laptop responsive

@mixin signup-tl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  font-family: 'Lato', sans-serif;
  font-weight: 300px;
  font-size: 15px;
  margin: 0px auto 0px auto;
  padding-top: 20px;
}

@mixin links-tl {
  width: 56%;
 
}

@mixin signUp {
  width: 30%;
}

@mixin signIn {
  width: 30%;
}

@mixin signup_form-tl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 270px;
  align-items: flex-start;
  margin: 0px 0px 20px 25px;
  align-self: center;
}

@mixin logoGrupomania-tl {
  height: 150px;
  object-fit: cover;
  width: 40%;
}

@mixin signup_btn-tl {
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0px auto;
  height: 30px;
}
@mixin button_su_li-425 {
  width: 80%;
  height: 35px;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid transparent;
  font-size: 17px;
  color: white;
  background-color: $darkest-purple;
  cursor: pointer;

  &:hover {
    background-color: $lighter-purple;
    border: 1px solid transparent;
  }
}

//Laptop screen responsive---------------
@mixin logoGrupomania-l {
  height: 150px;
  object-fit: cover;
  width: 30%;
}

@mixin signup_btn-l {
  width: 40%;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0px auto;
  height: 30px;
}
@mixin button_su_li-l {
  width: 70%;
  height: 30px;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid transparent;
  font-size: 17px;
  color: white;
  background-color: $darkest-purple;
  cursor: pointer;

  &:hover {
    background-color: $lighter-purple;
    border: 1px solid transparent;
  }
}
//

@mixin signup_btn-xl {
  width: 30%;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0px auto;
  height: 35px;
}
@mixin button_su_li-xl {
  width: 82%;
  height: 35px;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid transparent;
  font-size: 17px;
  color: white;
  background-color: $darkest-purple;
  cursor: pointer;

  &:hover {
    background-color: $lighter-purple;
    border: 1px solid transparent;
  }
}
@mixin logoGrupomania-xl {
  height: 150px;
  object-fit: cover;
  width: 20%;
}

@mixin signup_btn-xxl {
  width: 20%;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0px auto;
  height: 35px;
}

@mixin name_input-xxl {
  width: 50%;
  align-self: center;
  

  & input{
    border-radius: 15px 15px 15px 15px;
    border-color: $lighter-purple;
    height: 35px;
    width: 50%;
}
}

@mixin lastname_input-xxl {
  width: 50%;
  align-self: center;

  & input{
    border-radius: 15px 15px 15px 15px;
    border-color: $lighter-purple;
    height: 35px;
    width: 50%;
}
  
  }

@mixin email_input-signup-xxl {
  width: 50%; 
  align-self: center;

  & input{
    border-radius: 15px 15px 15px 15px;
    border-color: $lighter-purple;
    height: 35px;
    width: 50%;
    }
  }

@mixin password_input-signup-xxl {
  width: 50%; 
  align-self: center;
  & input{
    border-radius: 15px 15px 15px 15px;
    border-color: $lighter-purple;
    height: 35px;
    width: 50%;
  }
}



