
@mixin profile_page_nav {
    width: 100%;
    align-self: center;
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
    overflow: auto;
   background-color: #363062;
   display: inline-flex;
   color: white;
   justify-content: space-between;
   padding: 0px 25px 0px 25px;
}

@mixin link-icon {
  width: 40%;
  color: white !important;
  margin: 0px 0px 5px -35px;
  font-size: 25px;

  &:hover{
    transition: all .2s ease-in-out;
      transform: scale(1.2);
  }
}

@mixin settings-icon{
  color: white !important;
  width: 40%;
  font-size: 25px;

  & :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }
}


@mixin row {
  width: 100%;
  box-sizing: border-box;
}

@mixin col-1-of-2 {
  box-sizing: border-box;
  width: 100%;
}

@mixin header_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  height: 455px;
  cursor: pointer;
  background-color:#EDEDED;

  &__profile-photo{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
    width: 100%;
    height: 150;
    margin-top: 60px;
    cursor: pointer;
    justify-self: center;

    & :hover{
      box-shadow: 0px 2px 10px $lighter-purple;
    }

    & img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      justify-self: center;
    }
  }

  &__information{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
    height: 100px;
    margin-top: 50px;
    font-size: 20px;
    
  }

}

@mixin about_section {
  height: 300px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  &__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    h1{
      justify-self: left;
      width: 25%;
      font-family: Lato, sans-serif;
      font-size: 23px;
      text-align: left;
      padding-left: 15px;
      color: $darkest-purple;
      content: "";
      border-bottom: 3px solid $light-pink;
      padding: 0px 25px 0px 25px;
    }
    p{
      justify-self: left;
      width: 100%;
      font-family: Lato, sans-serif;
      margin-top: 7px;
      text-align: justify;
      padding: 20px 25px 0px 25px;
      font-size: 15px;
      overflow: scroll;
    }
  }
}

@mixin posts_section{
  margin: 90px 0px 120px 0px;
  height: 790px;

  &__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    h2{
      justify-self: left;
      width: 25%;
      font-family: Lato, sans-serif;
      font-size: 23px;
      text-align: left;
      padding-left: 15px;
      color: $darkest-purple;
      margin: 20px 0px 10px 0px;
      border-bottom: 3px solid $light-pink;
      padding: 0px 25px 0px 25px;
    }
    p{
      justify-self: left;
      width: 90%;
      font-family: Lato, sans-serif;
      margin-top: 50px;
      text-align: justify;
      padding: 0px 25px 0px 25px;
      font-size: 15px;
      overflow: scroll;
      height: 250px;
      justify-self: center;
    }
  
  }
  &__images{
    display: flex;
    flex-direction: row;
    height: 350px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
    overflow: scroll;
    scroll-behavior: smooth;
    padding-top: 20px;
    margin: 7px 1px 7px 1px;

    & img{
      object-fit: cover;
      border: 3px solid transparent;
      border-radius: 25px 25px 25px 25px;
      width: 90%;
      justify-content: space-between;
      justify-items: center;
      height: auto;
      box-shadow: 1px 1px 2px $light-pink;
      cursor: pointer;
      margin: 7px 1px 5px 1px;

      & :hover{
        box-shadow: 1px 1px 4px $light-pink;
      }
    }
  }
  &__text{
    display: flex;
    flex-direction: row;
  }
}

@mixin text-trashcan {
  margin-top: 50px;
  color: $darkest-purple;
  cursor: pointer;

  & :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }
}

@mixin trashcan {
  color: $darkest-purple;
  cursor: pointer;
  margin-top: 7px;

  & :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }
}

@mixin footer_section {
    border-top: 1px solid $light-pink;
    box-shadow: 0px 1px 12px $light-pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 25px 25px 0px 25px;
    font-size: 25px;
    font-weight: 100;
    color: $dark-purple;
    cursor: pointer;
    position: sticky;
    font-weight: lighter;
    background-color: $darkest-purple;
    color: white !important;
  
    & :hover{
      transition: all .2s ease-in-out;
      transform: scale(1.1);
    }
    &__upload{
      
      width: 35px;
      height: 35px;
      border-radius: 20px;

      & i{
        justify-self: center;
        color: white !important;
      }
    }
}

//Screen (min-width: 425px) and (max-width: 519.9px) 

@mixin header_section-425-519{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  height: 500px;
  cursor: pointer;
  background-color:#EDEDED;

  &__profile-photo{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
    width: 70%;
    height: 150;
    margin: 60px auto 0px auto;
    cursor: pointer;
    justify-self: center;
    justify-items: center;
    

    & :hover{
      box-shadow: 0px 2px 10px $lighter-purple;
    }

    & img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      justify-self: center;
    }
  }

  &__information{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
    height: 100px;
    margin-top: 50px;
    font-size: 20px;
    
  }

}

@mixin about_section-425-519 {
  height: 300px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  &__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    h1{
      justify-self: left;
      width: 25%;
      font-family: Lato, sans-serif;
      font-size: 23px;
      text-align: left;
      padding-left: 15px;
      color: $darkest-purple;
      content: "";
      border-bottom: 3px solid $light-pink;
      padding: 0px 25px 0px 25px;
    }
    p{
      justify-self: left;
      width: 100%;
      font-family: Lato, sans-serif;
      margin-top: 7px;
      text-align: justify;
      padding: 20px 35px 0px 35px;
      font-size: 15px;
      overflow: scroll;
    }
  }
}

@mixin posts_section-425-519{
  margin: 90px 0px 120px 0px;
  height: 790px;

  &__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    

    h2{
      justify-self: left;
      width: 25%;
      font-family: Lato, sans-serif;
      font-size: 23px;
      text-align: left;
      padding-left: 15px;
      color: $darkest-purple;
      margin: 20px 0px 10px 0px;
      border-bottom: 3px solid $light-pink;
      padding: 0px 35px 0px 35px;
    }
    p{
      justify-self: left;
      width: 90%;
      font-family: Lato, sans-serif;
      margin-top: 50px;
      text-align: justify;
      padding: 0px 35px 0px 35px;
      font-size: 15px;
      overflow: scroll;
      height: 250px;
      justify-self: center;
    }
  
  }
  &__images{
    display: flex;
    flex-direction: row;
    height: 350px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0px 35px 0px 35px;
    overflow: scroll;
    scroll-behavior: smooth;
    padding-top: 20px;
    margin: 7px 1px 7px 1px;

    & img{
      object-fit: cover;
      border: 3px solid transparent;
      border-radius: 25px 25px 25px 25px;
      width: 90%;
      justify-content: space-between;
      justify-items: center;
      height: auto;
      box-shadow: 1px 1px 2px $light-pink;
      cursor: pointer;
      margin: 7px 1px 5px 1px;

      & :hover{
        box-shadow: 1px 1px 4px $light-pink;
      }
    }
  }
}
@mixin footer_section-425-519 {
  border-top: 1px solid $light-pink;
  box-shadow: 0px 1px 12px $light-pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  padding: 25px 35px 0px 35px;
  font-size: 25px;
  font-weight: 100;
  color: $dark-purple;
  cursor: pointer;
  position: sticky;
  font-weight: lighter;
  background-color: $darkest-purple;
  color: white !important;

  & :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }
  &__upload{
    
    width: 35px;
    height: 35px;
    border-radius: 20px;

    & i{
      justify-self: center;
      color: white !important;
    }
  }
}
 // Tablet sccree (min-width: 520px) and (max-width: 768px)

 @mixin link-icon-tablet {
  width: 40%;
  color: white !important;
  margin: 0px 0px 5px -35px;
  font-size: 25px;

  &:hover{
    transition: all .2s ease-in-out;
      transform: scale(1.1);
  }
}

@mixin settings-icon-tablet{
  color: white !important;
  width: 40%;
  font-size: 25px;
  margin: 0px 0px 0px -200px;

  & :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
}


@mixin header_section-tablet{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  height: 500px;
  cursor: pointer;
  background-color:white;

  &__profile-photo{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
    width: 70%;
    height: 150;
    margin: 60px auto 0px auto;
    cursor: pointer;
    justify-self: center;
    justify-items: center;
    

    & :hover{
      box-shadow: 0px 2px 10px $lighter-purple;
    }

    & img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      justify-self: center;
    }
  }

  &__information{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
    height: 100px;
    margin-top: 50px;
    font-size: 20px;
    
  }
}

@mixin about_section-tablet {
  height: 300px;
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

@mixin posts_section-tablet{
  margin: 0px 0px 0px 0px;
  height: 800px;
  background-color: white;

  &__images{
    width: 97%;
    & img{
      width: 90%;
    }
  }
}

// @media screen and (min-width: 768px) and (max-width: 991px)



@mixin header_section-tablet-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  height: 500px;
  cursor: pointer;
  background-color:white;

  &__profile-photo{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
    width: 50%;
    height: 150;
    margin: 60px auto 0px auto;
    cursor: pointer;
    justify-self: center;
    justify-items: center;
    
    & :hover{
      box-shadow: 0px 2px 10px $lighter-purple;
    }

    & img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      justify-self: center;
    }
  }

  &__information{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
    height: 100px;
    margin-top: 50px;
    font-size: 20px;
    
  }
}
@mixin link-icon-tablet-1 {
  width: 40%;
  color: white !important;
  margin: 0px 0px 5px -35px;
  font-size: 25px;

  &:hover{
    transition: all .2s ease-in-out;
      transform: scale(1.2);
  }
}

@mixin settings-icon-tablet-1{
  color: white !important;
  width: 30%;
  font-size: 25px;
  margin: 0px 0px 0px -300px;

  & :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }
}

@mixin about_section-table-1 {
  height: 300px;
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

@mixin posts_section-tablet-1{
  margin: 0px 0px 0px 0px;
  background-color: $light-gray;
  height: 950px;
  background-color: white;

  &__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    

    h2{
      justify-self: left;
      width: 25%;
      font-family: Lato, sans-serif;
      font-size: 23px;
      text-align: left;
      padding-left: 15px;
      color: $darkest-purple;
      margin: 20px 0px 10px 0px;
      border-bottom: 3px solid $light-pink;
      padding: 0px 25px 0px 25px;
    }
    p{
      justify-self: left;
      width: 92%;
      font-family: Lato, sans-serif;
      margin-top: 100px;
      text-align: justify;
      padding: 0px 25px 0px 25px;
      font-size: 15px;
      overflow: scroll;
      height: 390px;
      justify-self: center;
    }
  
  }
  &__images{
    display: flex;
    flex-direction: row;
    height: 390px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
    overflow: scroll;
    scroll-behavior: smooth;
    padding-top: 20px;
    margin: 7px 1px 7px 1px;

    & img{
      object-fit: cover;
      border: 3px solid transparent;
      border-radius: 25px 25px 25px 25px;
      width: 90%;
      justify-content: space-between;
      justify-items: center;
      height: auto;
      box-shadow: 1px 1px 2px $light-pink;
      cursor: pointer;
      margin: 7px 1px 5px 1px;

      & :hover{
        box-shadow: 1px 1px 4px $light-pink;
      }
    }
  }
}
@mixin footer_section-tablet-1 {
  border-top: 1px solid $light-pink;
  box-shadow: 0px 1px 12px $light-pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  padding: 25px 45px 0px 45px;
  font-size: 25px;
  font-weight: 100;
  color: $dark-purple;
  cursor: pointer;
  position: sticky;
  font-weight: lighter;
  background-color: $darkest-purple;
  color: white !important;
}

//Screen(min-width: 991px) and (max-width: 1200px) 



@mixin header_section-laptop{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  height: 455px;
  cursor: pointer;
  background-color: white;

  &__profile-photo{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
    width: 50%;
    height: 150;
    margin: 60px auto 0px auto;
    cursor: pointer;
    justify-self: center;

    & :hover{
      box-shadow: 0px 2px 10px $lighter-purple;
    }

    & img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      justify-self: center;
    }
  }

  &__information{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
    height: 100px;
    margin-top: 50px;
    font-size: 25px;
    
  }

}

@mixin about_section-laptop {
  height: 300px;
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  

  &__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    h1{
      justify-self: left;
      width: 25%;
      font-family: Lato, sans-serif;
      font-size: 25px;
      text-align: left;
      padding-left: 15px;
      color: $darkest-purple;
      content: "";
      border-bottom: 3px solid $light-pink;
      padding: 0px 25px 0px 25px;
    }
    p{
      justify-self: left;
      width: 100%;
      font-family: Lato, sans-serif;
      margin-top: 7px;
      text-align: justify;
      padding: 20px 25px 0px 25px;
      font-size: 17px;
      overflow: scroll;
    }
  }
}

@mixin settings-icon-laptop{
  color: white !important;
  width: 30%;
  font-size: 25px;
  margin: 0px 0px 0px -370px;

  & :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }
}
@mixin posts_section-laptop{
  margin: 0px 0px 0px 0px;
  background-color: $light-gray;
  height: 1500px;
  background-color: white;

  &__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    

    h2{
      justify-self: left;
      width: 25%;
      font-family: Lato, sans-serif;
      font-size: 28px;
      text-align: left;
      padding-left: 15px;
      color: $darkest-purple;
      margin: 20px 0px 10px 0px;
      border-bottom: 3px solid $light-pink;
      padding: 0px 25px 0px 25px;
    }
    p{
      justify-self: left;
      width: 90%;
      font-family: Lato, sans-serif;
      margin-top: 100px;
      text-align: justify;
      padding: 0px 25px 0px 25px;
      font-size: 20px;
      overflow: scroll;
      height: 400px;
      justify-self: center;
    }
  
  }
  &__images{
    display: flex;
    flex-direction: row;
    height: 650px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
    overflow: scroll;
    scroll-behavior: smooth;
    padding-top: 20px;
    margin: 7px 1px 7px 1px;

    & img{
      object-fit: cover;
      border: 3px solid transparent;
      border-radius: 25px 25px 25px 25px;
      width: 90%;
      justify-content: space-between;
      justify-items: center;
      height: auto;
      box-shadow: 1px 1px 2px $light-pink;
      cursor: pointer;
      margin: 7px 1px 5px 1px;

      & :hover{
        box-shadow: 1px 1px 4px $light-pink;
      }
    }
  }
}

@mixin footer_section-laptop {
  border-top: 1px solid $light-pink;
  box-shadow: 0px 1px 12px $light-pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  padding: 25px 50px 0px 50px;
  font-size: 25px;
  font-weight: 100;
  color: $dark-purple;
  cursor: pointer;
  position: sticky;
  font-weight: lighter;
  background-color: $darkest-purple;
  color: white !important;
}

// Scren (min-width: 1201px)

@mixin header_section-laptop-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  height: 450px;
  cursor: pointer;
  background-color: white;

  &__profile-photo{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
    width: 25%;
    height: 150;
    margin: 60px auto 0px auto;
    cursor: pointer;
    justify-self: center;

    & :hover{
      box-shadow: 0px 2px 10px $lighter-purple;
    }

    & img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      justify-self: center;
    }
  }

  &__information{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
    height: 100px;
    margin-top: 50px;
    font-size: 25px;
    
  }

}

@mixin about_section-laptop-1 {
  height: 400px;
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
 
  
  

  &__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
    h1{
      justify-self: left;
      width: 15%;
      font-family: Lato, sans-serif;
      font-size: 25px;
      text-align: left;
      padding-left: 15px;
      color: $darkest-purple;
      content: "";
      border-bottom: 3px solid $light-pink;
      padding: 0px 35px 0px 35px;
    }
    p{
      justify-self: left;
      width: 100%;
      font-family: Lato, sans-serif;
      margin-top: 7px;
      text-align: justify;
      padding: 20px 35px 0px 35px;
      font-size: 16px;
      height: 200px;
      overflow-x: hidden;
    overflow-y: hidden;
    }
  }
}

@mixin posts_section-laptop-1{
  margin: 0px 0px 0px 0px;
  background-color: $light-gray;
  height: 1500px;
  background-color: white;

  &__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    h2{
      justify-self: left;
      width: 15%;
      font-family: Lato, sans-serif;
      font-size: 25px;
      text-align: left;
      padding-left: 15px;
      color: $darkest-purple;
      margin: 20px 0px 10px 0px;
      border-bottom: 3px solid $light-pink;
      padding: 0px 35px 0px 35px;
    }
    p{
      justify-self: left;
      width: 95%;
      font-family: Lato, sans-serif;
      margin-top: 50px;
      text-align: justify;
      padding: 0px 35px 0px 35px;
      font-size: 15px;
      overflow: scroll;
      overflow-y: hidden;
      height: 250px;
      justify-self: center;
      overflow-x: hidden;
    }
  
  }
  &__images{
    display: flex;
    flex-direction: row;
    height: 650px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0px 35px 0px 35px;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 20px;
    margin: 7px 1px 7px 1px;

    & img{
      object-fit: cover;
      border: 3px solid transparent;
      border-radius: 25px 25px 25px 25px;
      width: 45%;
      justify-content: space-between;
      justify-items: center;
      height: auto;
      box-shadow: 1px 1px 2px $light-pink;
      cursor: pointer;
      margin: 7px 1px 5px 1px;

      & :hover{
        box-shadow: 1px 1px 4px $light-pink;
      }
    }
  }
}

@mixin settings-icon-laptop-1{
  color: white !important;
  width: 40%;
  font-size: 25px;
  margin: 0px 0px 0px -500px;

  & :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
  }
}

