@mixin signin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient( $lighter-purple, $light-pink, white);
-webkit-backdrop-filter: blur(20px);
}

@mixin signin-headline {
  margin: 0px 0px 20px 20px;
  justify-self: left;
  justify-content: start;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
  width: 22%;
}

@mixin signin_form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

@mixin email_input-login {
  width: 100%;

  & input{
    width: 82%;
    height: 35px;
    border: none;
    padding: 0px 0px 0px 10px;
  }
  & :focus {
    outline: none;
    border-bottom: 2px solid $darkest-purple;
    width: 82%;
    transform: scaleX(1) translateY(-1px);   
    opacity: 1;
    transition: all .20s linear;
  }
}

@mixin password_input-login {
  width: 100%;

  & input{
    width: 82%;
    height: 35px;
    border: none;
    padding: 0px 0px 0px 10px;
  }
  & :focus {
    outline: none;
    border-bottom: 2px solid $darkest-purple;
    width: 82%;
    transform: scaleX(1) translateY(-1px);   
    opacity: 1;
    transition: all .20s linear;
    background-color: white;
  }
}

@mixin login_btn {
  width: 100%;

  & button {
    width: 82%;
    height: 35px;
    font-family: 'Lato', sans-serif;
    border: none;
    cursor: pointer;
    background-color: $darkest-purple;
    color: white;
    letter-spacing: 1px;
  }
  & :hover{
    background-color: $dark-purple;
  }
}
@mixin links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 74%;
  justify-self: center;
  margin: 30px auto 30px auto;
  font-family: 'Lato', sans-serif;
}

//Media queries 612px and 768px

@mixin signin_form-tablet{
  width: 80%;
  justify-self: center;
  margin: auto;
}

@mixin signin-headline-tablet {
  margin: 0px 0px 20px 70px;
}

@mixin links-tablet {
  width: 65%;
}

//Media queries 769px and 1024px

@mixin signin_form-laptop{
  width: 50%;
  justify-self: center;
  margin: auto;
}

@mixin signin-headline-laptop {
  width: 59%;
}

@mixin links-laptop {
  width: 41%;
}

// Media queries 1025px and 1200px

@mixin signin_form-large-screen{
  width: 50%;
  justify-self: center;
  margin: auto;
}

@mixin signin-headline-large-screen {
  width: 59%;
}

@mixin links-large-screen {
  width: 41%;
}

// Media queries min 1201

@mixin signin_form-xlarge-screen{
  width: 50%;
  justify-self: center;
  margin: auto;
}

@mixin signin-headline-xlarge-screen {
  width: 59%;
}

@mixin links-xlarge-screen {
  width: 41%;
}