
@mixin profile-page {
  width: 100%;
  background-image: linear-gradient(to bottom left, $darkest-purple, $dark-purple, $lighter-purple, $light-pink);

  &_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
  }
}

@mixin header_section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 20px 0px 20px 0px;
  
  &__profile-photo{
    border: 1px solid transparent;
    object-fit: cover;
    width: 50%;
    justify-self: center;
    margin:20px auto 20px auto;
    border-radius: 5px 5px 5px 5px;

    & img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px 10px 10px 10px;
    }
  }

  &__information{
    width: 100%;
    color: white;
    margin: 20px auto 20px auto;
    font-size: 20px;
  }
}

@mixin about_section {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  margin: 20px auto 0px auto;
  padding: 40px 0px 40px 0px;

  &__text-title{
   border-bottom: 3px solid $darkest-purple;
    width: 30%;
    font-weight: 500;
  }

  &__text-description{
    text-align: left;
    padding: 20px 20px 20px 20px;
    text-align: justify;
  }
}

@mixin footer_section {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 10px 20px 40px 20px;
  text-align: right;
  
  &__signout{
    color: $darkest-purple;
    cursor: pointer;
    width: 100%;
    text-align: right;
  }
}

// Media queries iPads, Tablets 481px — 768px

@mixin header_section-tablet {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 30px 0px 30px 0px;
  
  &__profile-photo{
    border: 1px solid transparent;
    object-fit: cover;
    width: 20%;
    justify-self: center;
    margin:20px auto 20px auto;
    border-radius: 5px 5px 5px 5px;

    & img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px 10px 10px 10px;
    }
  }
}

@mixin about_section-tablet {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  margin: 20px auto 0px auto;
  padding: 50px 0px 50px 0px;

  &__text-title{
   border-bottom: 3px solid $darkest-purple;
    width: 15%;
    font-weight: 500;
  }

  &__text-description{
    text-align: left;
    padding: 20px 30px 20px 30px;
    text-align: justify;
  }
}

// Media queries Small screens, laptops 769px — 1024px

@mixin header_section-laptop {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 30px 0px 30px 0px;
  
  &__profile-photo{
    border: 1px solid transparent;
    object-fit: cover;
    width: 20%;
    justify-self: center;
    margin:20px auto 20px auto;
    border-radius: 5px 5px 5px 5px;

    & img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px 10px 10px 10px;
    }
  }
}

@mixin about_section-laptop {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  margin: 20px auto 0px auto;
  padding: 50px 0px 50px 0px;

  &__text-title{
   border-bottom: 3px solid $darkest-purple;
    width: 15%;
    font-weight: 500;
  }

  &__text-description{
    text-align: left;
    padding: 20px 50px 20px 50px;
    text-align: justify;
  }
}

// Media queries Desktops, large screens 1025px — 1200px


@mixin profile-page-desktop {
  width: 70%;
  background-color: white;
  margin: 0px auto 0px auto;
  z-index: 1;


  &_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    background-color: white;
  }
}

@mixin header_section-desktop {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 0px 0px 0px 0px;
  background-color: white;
  padding-top: 50px;
  
  &__profile-photo{
    border: 1px solid transparent;
    object-fit: cover;
    width: 20%;
    justify-self: center;
    margin:20px auto 20px auto;
    border-radius: 5px 5px 5px 5px;

    & img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px 10px 10px 10px;
    }
  }
}

@mixin about_section-desktop {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  margin: 0px auto 0px auto;
  padding: 50px 0px 50px 0px;

  &__text-title{
   border-bottom: 3px solid $darkest-purple;
    width: 15%;
    font-weight: 500;
  }

  &__text-description{
    text-align: left;
    padding: 20px 50px 20px 50px;
    text-align: justify;
  }
}

@mixin footer_section-desktop {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 20px 40px 40px 20px;
  text-align: right;
  
  &__signout{
    color: $darkest-purple;
    cursor: pointer;
    width: 100%;
    text-align: right;
  }
}

// Media queries min 1201px - Extra large screens, TV

@mixin profile-page-xl-desktop {
  width: 50%;
  background-color: white;
  margin: 0px auto 0px auto;
  z-index: 1;

  &_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    background-color: white;
  border-color: white;

  }
}

@mixin header_section-xl-desktop {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 0px 0px 0px 0px;
  background-color: white;
  padding-top: 50px;
  border-color: white;
  
  &__profile-photo{
    border: 1px solid transparent;
    object-fit: cover;
    width: 20%;
    justify-self: center;
    margin:20px auto 20px auto;
    border-radius: 5px 5px 5px 5px;

    & img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px 10px 10px 10px;
    }
  }
}

@mixin about_section-xl-desktop {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  margin: 0px auto 0px auto;
  padding: 50px 0px 50px 0px;
  border-color: white;

  &__text-title{
   border-bottom: 3px solid $darkest-purple;
    width: 15%;
    font-weight: 500;
  }

  &__text-description{
    text-align: left;
    padding: 20px 50px 20px 50px;
    text-align: justify;
    border-color: white;
  }
}

@mixin footer_section-xl-desktop {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 80px 40px 40px 20px;
  text-align: right;
  border-color: white;
  margin: 0px 0px 0px 0px;
  
  &__signout{
    color: $darkest-purple;
    cursor: pointer;
    width: 100%;
    text-align: right;
    margin: 0px 0px 0px 0px;
  }
}


