@mixin settings_page__nav {
  background-color: $darkest-purple;

  & a{
    color: white;
  }
}

@mixin settings_change {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 520px;
  margin-top: 50px;
  background-color: $light-gray;

  &__photo{
    height: 160px;
    display: flex;
    flex-direction: column;
   justify-content: space-between;

   &__image{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
     width: 100px;
     height: 100px;
     justify-self: center;
     margin: 20px auto 0px auto;
     cursor: pointer;

     & img{
       width: 100%;
       height: 100%;
       object-fit: scale-down;
     }
   }
   &__upload{
    height:0px;
    width:0px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;  
    overflow:hidden;
    background-size: 100% 200%;
    transition: all 1s;
    font-size:100px;   

    & input{
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;
    }
   }
  }
  &__names{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__firstname{
      & input{
        height: 35px;
        width: 70%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
    &__lastname{
      & input{
        height: 35px;
        width: 70%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
  }
  &__save{
    margin: px 0px 15px 0px;
    height: 35px;
   
    &__btn{
      font-size: 25px;
      color: $dark-purple;
      border: transparent;
      cursor: pointer;

      & :hover{
        color: $lighter-purple;
      }
    }
  }
  &__description{
    & textarea {
      border: 1px solid transparent;
      box-shadow: 0px 1px 12px $lighter-purple;
      -webkit-backdrop-filter: blur 20px;
      backdrop-filter: blur 20px; 
      width: 70%;
      height: 70px;
      padding: 8px 5px 5px 8px;
      font-family: Lato, sans-serif;
      font-size: 15px;
    }
  }
}

@mixin upload_image {
  cursor: pointer;
  margin-top: 20px;
  font-size: 25px;
  width: 10%;
  color: $darkest-purple;
  
  & :hover{
    color: $lighter-purple;
  }
}

@mixin settings_change__delete{
  & button{
    color: $darkest-purple;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    justify-self: right;
    font-size: 18px;
    margin: 15px 0px 35px 0px;
  }
}

//@media screen and (min-width: 768px) and (max-width: 991px)
@mixin settings_change-tablet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 520px;
  margin-top: 50px;
  background-color: $light-gray;

  &__photo{
    height: 180px;
    display: flex;
    flex-direction: column;
   justify-content: space-between;

   &__image{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
    width: 130px;
     height: 130px;
     justify-self: center;
     margin: 20px auto 0px auto;
  }
  }
  &__names{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__firstname{
      & input{
        height: 35px;
        width: 50%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
    &__lastname{
      & input{
        height: 35px;
        width: 50%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
  }
  &__description{
    & textarea {
      border: 1px solid transparent;
      box-shadow: 0px 1px 12px $lighter-purple;
      -webkit-backdrop-filter: blur 20px;
      backdrop-filter: blur 20px; 
      width: 50%;
      height: 70px;
      padding: 8px 5px 5px 8px;
      font-family: Lato, sans-serif;
      font-size: 15px;
    }
  }
}

//@media screen and (min-width: 768px) and (max-width: 991px)

@mixin settings_change-tablet-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 520px;
  margin: 50px auto 50px auto;
  background-color: $light-gray;

  &__photo{
    height: 200px;
    display: flex;
    flex-direction: column;
   justify-content: space-between;

   &__image{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
     width: 130px;
     height: 130px;
     justify-self: center;
     margin: 20px auto 0px auto;
    }
  }

  &__names{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__firstname{
      & input{
        height: 35px;
        width: 50%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
    &__lastname{
      & input{
        height: 35px;
        width: 50%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
  }
  &__description{
    & textarea {
      border: 1px solid transparent;
      box-shadow: 0px 1px 12px $lighter-purple;
      -webkit-backdrop-filter: blur 20px;
      backdrop-filter: blur 20px; 
      width: 50%;
      height: 70px;
      padding: 8px 5px 5px 8px;
      font-family: Lato, sans-serif;
      font-size: 15px;
    }
  }
}

//@media screen and (min-width: 991px) and (max-width: 1200px)

@mixin settings_change-laptop{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
  margin: 50px auto 50px auto;
  background-color: $light-gray;

  &__photo{
    height: 230px;
    display: flex;
    flex-direction: column;
   justify-content: space-between;

   &__image{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
     width: 150px;
     height: 150px;
     justify-self: center;
     margin: 20px auto 0px auto;
    }
  }
  &__names{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__firstname{
      & input{
        height: 35px;
        width: 50%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
    &__lastname{
      & input{
        height: 35px;
        width: 50%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
  }
  &__description{
    & textarea {
      border: 1px solid transparent;
      box-shadow: 0px 1px 12px $lighter-purple;
      -webkit-backdrop-filter: blur 20px;
      backdrop-filter: blur 20px; 
      width: 50%;
      height: 70px;
      padding: 8px 5px 5px 8px;
      font-family: Lato, sans-serif;
      font-size: 15px;
    }
  }
}

//@media screen and (min-width: 1201px)

@mixin settings_change-laptop-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 580px;
  margin: 50px auto 50px auto;
  background-color: $light-gray;

  &__photo{
    height: 250px;
    display: flex;
    flex-direction: column;
   justify-content: space-between;

   &__image{
    border: 1px solid transparent;
    box-shadow: 0px 1px 12px $lighter-purple;
    -webkit-backdrop-filter: blur 20px;
    backdrop-filter: blur 20px; 
     width: 170px;
     height: 170px;
     justify-self: center;
     margin: 20px auto 0px auto;
    }
  }
  &__names{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__firstname{
      & input{
        height: 35px;
        width: 40%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
    &__lastname{
      & input{
        height: 35px;
        width: 40%;
        border: 1px solid transparent;
        box-shadow: 0px 1px 12px $lighter-purple;
        -webkit-backdrop-filter: blur 20px;
        backdrop-filter: blur 20px; 
        padding-left: 10px;
        font-family: Lato, sans-serif;
      }
    }
  }
  &__description{
    & textarea {
      border: 1px solid transparent;
      box-shadow: 0px 1px 12px $lighter-purple;
      -webkit-backdrop-filter: blur 20px;
      backdrop-filter: blur 20px; 
      width: 40%;
      height: 70px;
      padding: 8px 5px 5px 8px;
      font-family: Lato, sans-serif;
      font-size: 15px;
    }
  }
}


